
	.primero{
		width: 100%;
		height: 300px;
		background-image: url(images/bg2.jpg);
		text-align: center;
		color: white;
		padding: 10vh;
		margin-bottom: 40px;
	}
	.navbar{
		margin-bottom: 0px;
	}	

	.fondo {
		height: 300px;
	}
	button{
		color: black;
		background-color: white;
		border-color: white;
		border-radius: 10%;
	}
	.jumbotron{
		margin-bottom: 0px;
		text-align: center;
	}
	.thumbnail{
		text-align: center;
		border-radius: 30px;
		border: solid #dad6d6 6px;
		padding: 0px;
		padding-bottom: 20px;
	}
	.thumbnail button{
		background-color: #c1c1c133;
	}
	.thumbnail img{
		border-radius: 24px 24px 0px 0px;
	}
